@font-face {
  font-family: 'Anson Regular';
  src: url(fonts/anson-regular-webfont.ttf);
}

$orange: #FF8100;
$light-orange: #FF8E19;
$blue: #0086B2;
$light-blue: #00BFFF;

@import 'animations';

@mixin no_scrollbar {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  
  &::-webkit-scrollbar {
    display: none; // Safari, Chrome
  }
}

@mixin margin-x_auto {
  margin-left: auto;
  margin-right: auto;
}

%box_shadow {
  box-shadow: 0px 3px 6px 1px #757575;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #313131;
}

h1, h2, h3 {
  color: inherit;
}

h1 {
  font-size: 2.8em;
  font-family: 'Anson Regular', sans-serif;
  margin: 0;
}

h2 {
  background: $blue;
  color: white;
  padding: 10px 20px;
  margin: 0;
  font-size: 1.5em;
  @extend %box_shadow;
}

a[href^="mailto"] {
  color: currentColor;
  text-decoration: none;
}

header, section {
  padding: 20px;
}

footer {
  padding: 10px;
}

section p:first-child {
  margin-top: 0;
}

section p:last-child {
  margin-bottom: 0;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background: $light-orange;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all .25s;
  
  &:hover {
    background: $light-blue;
  }
  
  &:focus {outline:0;}
}

ul {
  text-align: left;
}

select {
  font-size: 16px;
  
  &:focus {outline:0;}
}

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 1064px;
  @include margin-x_auto;
  padding-bottom: 50px;
}

.examples nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  
  button {
    background: $light-blue;
    width: 50px;
    height: 40px;
    padding: 0;
    position: relative;
    
    &:not(:last-child) {
      margin-right: 2px;
    }
    
    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    
    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    &[data-active] {
      background: $light-orange;
    }
    
    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      
      &.fa-mobile {
        font-size: 28px;
      }
      
      &.fa-tablet {
        font-size: 24px;
      }
    }
  }
  
  select {
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-left: auto;
    border: none;
    border-color: black;
    
    background: $light-blue;
    color: white;
    
    option {
      background-color: white;
      color: black;
    }
  }
}

// classes
.subtitle {
  font-size: 38%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.examples {
  text-align: center;
  display: none;
  
  ul {
    padding: 0;
    list-style: none;
    
    li {
      margin-bottom: 30px;
      
      a {
        text-decoration: none;
        color: currentColor;
      }
    }
  }
}

.screen {
  position: relative;
  margin-top: 25px;
  display: none;
  
  &[data-active] {
    display: block;
  }
  
  img {
    width: 100%;
  }
  
  .screen-inner-container {
    position: absolute;
    
    &:after {
      content: 'Click to enable scrolling';
      padding-left: 20px;
      padding-right: 20px;
      font-size: 25px;
      font-weight: 600;
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      opacity: 0;
      transition: opacity .25s;
    }
    
    &:not([data-scroll]):hover:after {
      visibility: visible;
      opacity: 1;
    }
    
    img {
      display: none;
      
      &[data-active] {
        display: block;
      }
    }
    
    .screen-inner {
      overflow-y: hidden;
      height: 100%;
    }
    
    &[data-scroll] .screen-inner {
      overflow-y: scroll;
      @include no_scrollbar;
    }
  }
}

.mobile-outer {
  margin: 0 25px;
}

.mobile-screen {
  max-width: 350px;
  @include margin-x_auto;
  
  .screen-inner-container {
    top: 8%;
    bottom: 11%;
    left: 4%;
    right: 4%;
  }
}

.tablet-screen {
  max-width: 600px;
  @include margin-x_auto;
  
  .screen-inner-container {
    top: 5%;
    bottom: 13%;
    left: 3.5%;
    right: 3.5%;
  }
}

.desktop-screen {
  max-width: 1000px;
  @include margin-x_auto;
  
  .screen-inner-container {
    top: 4%;
    bottom: calc(28% + 2px);
    left: 3%;
    right: 3%;
  }
}

// sections
header, footer {
  background: $orange;
  color: white;
  @extend %box_shadow;
  
  nav {
    font-size: 30px;
    
    a {
      color: currentColor;
      transition: all .25s;
      
      &:hover {
        color: black;
      }
      
      &:not(:last-child) i {
        margin-right: 10px;
      }
    }
  }
}

.header-inner {
  max-width: 1024px;
  @include margin-x_auto;
}

header nav {
  margin-top: 15px;
  text-align: right;
}

footer nav {
  text-align: center;
}

// media queries
@media (min-width: 375px) {
  h1 {
    font-size: 3.4em;
  }
}

@media (min-width: 550px) {
  .header-inner {
    display: flex;
    padding-left: 40px;
    
    nav {
      margin-left: auto;
    }
  }
  
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  h2 {
    padding-left: 40px;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  
  section {
    padding-top: 1em;
    padding-bottom: 2.5em;
  }
  
  .section-text {
    column-count: 2;
    column-gap: 40px;
  }
}